# IDE/Editor Settings

.vscode/
.idea/
*.swp

# System files

.DS_Store
Thumbs.db

# Sockets and local banks

*.sock
*.db

# Hidden files of backup

*~

# Others

*.log
*.bak
*.tmp

# Git

.git/
.gitignore

# Markdown

*.md
LICENSE