# Logs and temporaries

*.log
*.bak
*.tmp

# IDE/Editor Settings

.vscode/
.idea/
*.swp

# System files

.DS_Store
Thumbs.db

# Sockets and local banks

*.sock
*.db

# Hidden files of backup

*~

# Git

.git/
.gitignore