# Binary (recommended)

sys

# Package (recommended)

sys_*.deb

# Logs and temporaries

*.log
*.bak
*.tmp

# IDE/Editor Settings

.vscode/
.idea/
*.swp

# System files

.DS_Store
Thumbs.db

# Sockets and local banks

*.db
*.sock

# Added by goreleaser init:

dist/