Package: luasys
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: José walterandrade0001@gmail.com
Description: Uma CLI tool de auditoria, diagnóstico e monitoramento de hardware
 Uma ferramenta de linha de comando para auditoria, diagnóstico e
 monitoramento de recursos do hardware. Admin/Sudo.
